{% extends "base.html" %}
{% block title %}Пациенты — MedCRM{% endblock %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Пациенты</h3>
    {% if user.role in "ADMIN REG DOC" %}
    <a class="btn btn-success" href="{% url 'web:patient_create' %}">+ Новый пациент</a>
    {% endif %}
</div>

<form class="row g-2 mb-3">
    <div class="col-auto">
        <input name="q" class="form-control" placeholder="Поиск: фамилия/имя/телефон" value="{{ request.GET.q }}">
    </div>
    <div class="col-auto">
        <button class="btn btn-outline-primary">Найти</button>
    </div>
</form>

<form method = "get" class = "mb-3 d-flex gap-2">
    <select name = "type" class="form-select" style = "max-width: 200px;">
        <option value="" {% if not request.GET.type %}selected{% endif %}>Все пациенты</option>
        <option value="adult" {% if request.GET.type == 'adult' %}selected{% endif %}>Взрослые</option>
        <option value="child" {% if request.GET.type == 'child' %}selected{% endif %}>Дети</option>
        <option value="unknown" {% if request.GET.type == 'unknown' %}selected{% endif %}>Неопределен</option>
    </select>

    <select name = "facility" class="form-select" style="max-width: 250px;">
        <option value="" {% if not request.GET.facility %}selected{% endif %}>Все места размещения</option>
        <option value="none" {% if request.GET.facility == 'none' %}selected{% endif %}>Без размещения</option>

        {% for f in facilities %}
        <option value="{{ f.id }}" {% if request.GET.facility == f.id|stringformat:'s' %}selected{% endif %}>
            {{ f.name }} ({{ f.get_type_display }})
        </option>
        {% endfor %}
    </select>

    <button class="btn btn-outline-primary">Фильтровать</button>
</form>

<table class="table table-hover align-middle">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Дата рождения</th>
            <th>Возраст</th>
            <th>Отделение</th>
            <th>Телефон</th>
            <th>Личный номер</th>
            <th>Статус</th>
            <th>Место размещения</th>
            <th class="text-end">Действия</th>
        </tr>
    </thead>

    <tbody>
        {% for p in object_list %}
        <tr {% if not p.is_active %}class="table-secondary" {% endif %}>

            <td>{{ p.last_name }}</td>
            <td>{{ p.first_name }}</td>
            <td>{{ p.birth_date|date:"d.m.Y" }}</td>
            <td>{% if p.age %}{{ p.age }}{% else %}—{% endif %}</td>
            <td>{{ p.get_department_display }}</td>
            <td>{{ p.phone|default:"—" }}</td>
            <td>{{ p.document_id|default:"—" }}</td>

            <td>
                {% if p.is_active %}
                <span class="badge bg-success">Активен</span>
                {% else %}
                <span class="badge bg-secondary">Скрыт</span>
                {% endif %}
            </td>

            <td>{{ p.facility|default:"—" }}</td>

            <td class="text-end">
                <a class="btn btn-sm btn-primary" href="{% url 'web:patient_detail' p.id %}">Открыть</a>

                {% if user.role == "REG" %}
                {% if p.is_active %}
                <form method="post" action="{% url 'web:patient_delete' p.id %}" class="d-inline">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-outline-danger"
                        onclick="return confirm('Скрыть пациента?')">Скрыть</button>
                </form>
                {% else %}
                <form method="post" action="{% url 'web:patient_restore' p.id %}" class="d-inline">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-outline-success">Вернуть</button>
                </form>
                {% endif %}
                {% endif %}
            </td>

        </tr>
        {% empty %}
        <tr>
            <td colspan="10" class="text-muted text-center">Ничего не найдено</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}">Назад</a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">Стр. {{ page_obj.number }} из {{ paginator.num_pages }}</span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}">Вперёд</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}